@import '~antd/lib/style/themes/default.less';

.dn-settings-form {
  padding: 10px 20px;

  &-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #888;
  }

  .@{ant-prefix}-formily-item {
    padding-bottom: 8px;
    margin-bottom: 8px;
    * {
      font-size: 13px;
    }
  }
}
